/* 線上探索  */

#list-bullet {
    position: fixed;
    margin-left: auto;
    margin-top: 6rem;
    left: 6rem;
    z-index: 99999999;

}
/*#list-bullet a {
    background: url(/img/bullet.svg) no-repeat center center;

}
#list-bullet a:hover {
    background: url(/img/bullet_active.svg) no-repeat center center;

}
#list-bullet a:active {
    background: url(/img/bullet_active.svg) no-repeat center center;

}*/

#list-bullet ul {
    border-left: 2px solid #9e866b;
    direction: rtl;

}
#list-bullet ul li {
    width: 10px;
    height: 10px;
    position: relative;
    background-color: #88745D;
    margin-bottom: 18px;
    list-style-type: none;
    margin-left: -6px;
    cursor: pointer;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    border: 2px solid #88745D;

}
#list-bullet ul li span{
position: relative;
padding-right: 20px;
    bottom: 12px;
    color: #88745D;
    

}
.hollow {
    background-color: #fff !important;
        border: 2px solid #443523;
}

.map {
    position: fixed;
    margin-left: 25px;
    /* margin-top: 6rem; */
    /* left: 6rem; */
    bottom: 0;
    z-index: 99999999;
    transition: 1s linear;
    
}

.hide {
    opacity: 0;
    transition: 1s linear;
}

/*#list-bullet ul li:hover {
    width: 12px;
        height: 12px;
        position: relative;
     
        margin-bottom: 18px;
        list-style-type: none;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        cursor: pointer;
        margin-left: -7px;
        cursor: pointer;
        background-color: #fff;
        border: 2px solid #46413b;
    }
#list-bullet ul li .active {
width: 12px;
    height: 12px;
    position: relative;
 
    margin-bottom: 18px;
    list-style-type: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    margin-left: -7px;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #46413b;
}*/
#list-bullet ul li:last-child {
    margin-bottom: 0px;
}

#list-sec {

}